<h2 class="text-left">
  Lista de Pedidos
  <button class="btn font-italic" (click)="nuevopedido()">Nuevo Pedido</button>
</h2>
<hr>
<div class="container">
  <div class="row ">
    <div class="col-9">
      <div *ngFor="let p of this._pedidos" (click)="showoption(p)" class="row bg-gray mb-2 pedido">
        <div class="col-12">
          <div class="row text-white bg-primary detalles">
            <div class="col-3">
              IDPEDIDO
            </div>
            <div class="col-3">
              FechaEntrada
            </div>
            <div class="col-3">
              FechaSalida
            </div>
            <div class="col-3">
              idClientes
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-3">
              {{p.id}}
            </div>
            <div class="col-3">
              {{p.fechaEntr | date}}
            </div>
            <div class="col-3">
              {{p.fechaEnv | date}}
            </div>
            <div class="col-3">
              {{p.idClientes}}
            </div>
          </div>
        </div>
        <div class="col-11 offset-1 bg-dark text-white">
          <h5>Detalles</h5>
        </div>
        <div class="col-10 offset-2">
          <div class="row text-white bg-primary">
            <div class="col-3">Id</div>
            <div class="col-2">idProductos</div>
            <div class="col-2">precioUnidad</div>
            <div class="col-2">cantidad</div>
            <div class="col-2">descuento</div>
          </div>
        </div>
        <div *ngFor="let dp of p.detPeds" class="col-10 offset-2">
          <div class="row">
            <div class="col-3">{{dp.id}}</div>
            <div class="col-2">{{dp.idProductos}}</div>
            <div class="col-2">{{dp.precioUnidad}}</div>
            <div class="col-2">{{dp.cantidad}}</div>
            <div class="col-2">{{dp.descuento}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <h3>Opciones</h3>
      <hr>
      <p>Id Pedido: {{this._currentPedido?.id}}</p>
      <ng-container *ngIf="this._currentPedido">
        <button class="btn btn-primary btn-block mb-2">
          Mostrar todos los detalles
        </button>
        <button class="btn btn-success btn-block">
          Copy Pedido
        </button>
      </ng-container>

    </div>
  </div>

</div>
<!-- Model -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-italic" id="exampleModalLongTitle">Nuevo Pedido</h5>
        <p class="px-2">{{_fechapedido|date}} {{this._fechapedido|date:'h:mm:ss'}}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="this.formlocal" (submit)="onSumbit()">
        <div class="modal-body">
          <div class="row m-0">
            <div class="form-group col-6">
              <label>Nombre</label>
              <input
                [ngClass]="{'is-invalid' : (f.local_nombre.touched && f.local_nombre.errors)||(f.local_nombre.errors?.nombrerepetido),'is-valid':f.local_nombre.status==='VALID'}"
                class="form-control" type="text" formControlName="local_nombre">
              <div class="invalid-feedback" *ngIf="f.local_nombre.touched &&f.local_nombre.errors">
                <div *ngIf="f.local_nombre.errors.required">El Nombre es Requerido</div>
              </div>
              <div style="color: #ffc107;font-size: 80%;" *ngIf="f.local_nombre.status==='PENDING'">
                Checking
              </div>
              <div style="color: #dc3545;font-size: 80%;" *ngIf="f.local_nombre.errors?.nombrerepetido">
                Ya existe una local con ese nombre
              </div>
            </div>
            <div class="form-group col-6">
              <label>Empleado</label>
              <select
                [ngClass]="{ 'is-invalid': f.empleados.touched && f.empleados.errors,'is-validc':f.empleados.status==='VALID'}"
                class="form-control" formControlName="empleados">
                <option [value]="e.id" *ngFor="let e of this._empleados">{{e.nombre||e.id}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="f.empleados.touched&&f.empleados.errors">
                <div *ngIf="f.empleados.errors.required">Selecione un empleado</div>
              </div>
            </div>
            <div class="form-group col-6">
              <label>Clientes</label>
              <select
                [ngClass]="{ 'is-invalid': f.clientes.touched && f.clientes.errors,'is-validc':f.clientes.status==='VALID'}"
                class="form-control" formControlName="clientes">
                <option [value]="e.id" *ngFor="let e of this._clientes">{{e.nombre||e.id}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="f.clientes.touched&&f.clientes.errors">
                <div *ngIf="f.clientes.errors.required">Selecione un empleado</div>
              </div>
            </div>
          </div>
          <hr>
          <form [formGroup]="this.formDetp">
            <div class="row m-0 py-2">
              <div class="col-12">
                <h5>Detalles</h5>
                <button class="btn" (click)="newdetalle()">Nuevo</button>
              </div>
              <div class="col-12 bg-primary">
                <div class="row">
                  <div class="col 3">Producto</div>
                  <div class="col 3">Precio</div>
                  <div class="col 3">Cantidad</div>
                  <div class="col 3">Descuento</div>
                </div>
              </div>
              <div class="col-12 mb-2" *ngFor="let det of this._detpedidosnew" (click)="borrardetalle(det)">
                <div class="row my-2">
                  <div class="col-3">
                    <select formControlName="id" class="form-control">
                      <option [value]="p.id" *ngFor="let p of this._productos">{{p.nombreProducto||p.id}}</option>
                    </select>
                  </div>
                  <div class="col-3">
                    <input class="form-control" type="number" formControlName="precio">
                  </div>
                  <div class="col-3">
                    <input class="form-control" type="number" formControlName="cantidad">
                  </div>
                  <div class="col-3">
                    <input class="form-control" type="number" formControlName="descuento">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
